/*
===================================
===================================
About Page Styles
===================================
===================================
*/

/* 
===================================
Section Styles (background, padding, etc.)
===================================
*/

/* 
===================================
Hero 
===================================
*/

/* background and layout adjustments  */
.hero {
	background: linear-gradient(
			107deg,
			rgba(9, 9, 9, 0.8) 9.51%,
			rgba(9, 9, 9, 0) 76.72%
		),
		url("../assets/images/pages/about/hero-about.jpg") top/cover;
	/* text-align: center; */
	display: flex;
	align-items: center;
}

/* about heading layout and sizing */
.hero-text-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

/* 
===================================
Main Content  
===================================
*/
/* wrapper spacing similar to section */
main .wrapper {
	padding: var(--spacing-xxl) 0;
	max-width: 800px;
	color: var(--color-onyx);
}

/* about article flex layout */
.about-article {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	color: var(--text-color-dark);
}

/* signature text style */
.about-signature {
	padding-top: var(--spacing-sm);
	font-size: var(--font-size-title-xs);
}

/* 
===================================
Media Queries (overriding styles for different screen sizes)
===================================
*/

/* Tablet Only */
@media screen and(max-width: 1024px) {
}

/* Tablet and Smaller */
@media screen and (max-width: 768px) {
	/* 
===================================
Hero
===================================
*/
	/* remove background-img */
	.hero {
		background: none;
		padding: 0;
	}

	.hero-text-container {
		width: 100%;
		text-align: center;
	}

	/* main wrapper reset */
	main .wrapper {
		max-width: var(--wrapper-max-width);
		padding: var(--spacing-xl) 0;
	}
}

/* Mobile Only */
@media screen and (max-width: 470px) {
	/* mobile font adjustments  */
	.about-article h2 {
		font-size: var(--font-size-title-sm);
		text-align: center;
	}

	.about-signature {
		font-size: var(--font-size-body-lg);
	}

	/* padding between header, main, footer */
	main .wrapper {
		padding: var(--spacing-med) 0;
	}
}
