/*
===================================
===================================
Styles for an individual page
===================================
===================================
*/

/* 
===================================
Text Styles 
===================================
*/

/* signature text style */
.about-signature {
	padding-top: var(--spacing-sm);
	font-size: var(--font-size-title-xs);
}

/* 
===================================
Section Styles (background, padding, etc.)
===================================
*/

/* wrapper spacing similar to section */
main .wrapper {
	padding: var(--spacing-xxl) 0;
}
/* about article flex layout */
.about-article {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}
/* 
===================================
Media Queries (overriding styles for different screen sizes)
===================================
*/

/* Tablet Only */
@media screen and(max-width: 1024px) {
	/* Add styles that only apply to tablet. These are usually fixes to get resposnivenes right */
}

/* Tablet and Smaller */
@media screen and (max-width: 768px) {
}

/* Mobile Only */
@media screen and (max-width: 470px) {
	/* mobile font  */
	.about-article h2 {
		font-size: var(--font-size-title-med);
	}

	.about-signature {
		font-size: var(--font-size-body-lg);
	}
}
