.card-container {
	display: flex;
	flex-flow: column;
	gap: 10px;
	padding: 30px 15px;
}

.card {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	flex: 0 0 33%;
	width: 33%;
	gap: 15px;
}

#highlights-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#highlights-container img {
	width: min-content;
	margin: 0 auto;
}

button,
.button {
	display: flex;
	width: 300px;
	height: 50px;
	padding: 11px 92px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 10px;
	background: #b91515;
}

@media (min-width: 768px) {
	.card-container {
		flex-direction: row;
		gap: 15px;
	}
}
