/*
===================================
===================================
Global styles

- The is the file for CSS that applies to the entire site.
- Variables, resets, global styles, etc. should be added here.
- This file should be linked to every page on the site.
- We can also add global component styles here (buttons, forms, etc.)
===================================
===================================
*/

/* 
===================================
Resets (box-sizing, normalize, etc.) 
===================================
*/

/* box-sizing */
* {
	box-sizing: border-box;
}
/* 
minified css normalize from Nicolas Gallagher: 
https://github.com/necolas/normalize.css
*/
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
figcaption,
figure,
main {
	display: block;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
dfn {
	font-style: italic;
}
mark {
	background-color: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
audio,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details,
menu {
	display: block;
}
summary {
	display: list-item;
}
canvas {
	display: inline-block;
}
template {
	display: none;
}
[hidden] {
	display: none;
}

/* 
===================================
Variables (colors, text, spacing, etc.)
===================================
*/

:root {
	/* Color Definitions */
	--color-white: #fff;
	--color-amaranth: #b91515;
	--color-light-amaranth: #d94252;
	--color-teal: #007a80;
	--color-grape: #6c4681;
	--color-black: #0f0f0f;
	--color-onyx: #1f1d1d;
	--color-blue: #184f85;
	--color-pink: #fa6cb7;
	--color-citrine: #d3c53f;
	--color-citron: #92a32d;
	--color-copper: #b37122;

	/* Gradients */

	/* general gradient */
	--grad-blue-purple: linear-gradient(0deg, #6c4681 -8.79%, #184f85 132.08%);

	/* hero gradients*/
	--hero-grad-home: linear-gradient(352deg, #090909cc 32.03%, #09090900 73.42%);
	--hero-grad-about: linear-gradient(107deg, #090909cc 9.51%, #09090900 76.72%);
	--hero-grad-impact: var(--hero-grad-about);
	--hero-grad-values: linear-gradient(
		260deg,
		#090909cc 46.9%,
		#09090900 86.82%
	);
	--hero-grad-events: linear-gradient(
		90deg,
		rgba(9, 9, 9, 0.77) 40.35%,
		rgba(9, 9, 9, 0.74) 44.51%,
		rgba(9, 9, 9, 0.71) 48.63%,
		rgba(9, 9, 9, 0) 83.13%
	);

	/* values-page gradients */
	--values-grad-sustainability: linear-gradient(
		269deg,
		#0e0e0e 46.26%,
		#1b1b1b00 99.04%
	);
	--values-grad-authenticity: linear-gradient(
		88deg,
		#b91515 47.26%,
		#b91515ba 55.57%,
		#772d2d66 68.47%
	);
	--values-grad-education: linear-gradient(
		90deg,
		#184f85 63.23%,
		#184f8500 83.39%
	);
	--values-grad-innovation: linear-gradient(
		280deg,
		#007a80 67.16%,
		#007a8000 80.36%
	);

	/* Color Assignment */
	--body-background-color: var(--color-white);
	--text-color-dark: var(--color-onyx);
	--text-color-light: var(--color-white);
	/* Text */
	/* Font */
	--font-main: "Josefin Sans", sans-serif;
	/* Sizing */
	/* heading elements */
	--font-size-title-xl: 5.6rem; /* Title Large - 56px */
	--font-size-title-lg: 4.6rem; /* Title Regular - 46px */
	--font-size-title-med: 3.6rem; /* Title Medium - 36px */
	--font-size-title-sm: 2.8rem; /* Title Small - 28px */
	--font-size-title-xs: 2.4rem; /* Title Extra Small - 24px */
	/* body text */
	--font-size-body-lg: 2.1rem; /* Body Large - 21px */
	--font-size-body-reg: 1.6rem; /* Body Regular - 16px */

	/* Text Weight */
	--font-weight-bold: 700;
	--font-weight-med: 500;
	--font-weight-reg: 400;

	/* Line Height */
	--line-height-xxl: 50px;
	--line-height-xl: 40px;
	--line-height-lg: 32px;
	--line-height-med: 26px;

	/* Spacing */
	--spacing-xxl: 140px;
	--spacing-xl: 100px;
	--spacing-lg: 80px;
	--spacing-med: 40px;
	--spacing-sm: 20px;
	--spacing-xs: 10px;

	/* Borders */
	/* width */
	--border-width-link: 2px;
	--border-width-btn: 3px;
	/* radius */
	--border-radius: 10px;

	/* Wrappers */
	--wrapper-width: 85%;
	--wrapper-width-max: 1328px;
	--wrapper-width-max-sm: 1080px;

	/* Media Queries */
	--mq-width-desktop-max: 1024px;
	--mq-width-tablet-max: 768px;
	--mq-width-phone-max: 400px;
}

/* 
===================================
Global Styles (html, body, text, links, etc.)
===================================
*/

html {
	font-size: 62.5%; /* 1 rem === 10px */
	font-family: var(--font-main);
}

body {
	background-color: var(--body-background-color);
	font-size: var(--font-size-body-lg);
	color: var(--text-color-dark);
}

/* Images */
img {
	width: 100%;
	height: auto;
	display: block;
}

/* Text */
/* remove default margins */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
/* general font sizing */
h1,
h2,
h3 {
	font-weight: var(--font-weight-bold);
}
h4,
h5 {
	font-weight: var(--font-weight-med);
}

h1 {
	font-size: var(--font-size-title-xl);
}
h2 {
	font-size: var(--font-size-title-lg);
	line-height: var(--line-height-xxl);
}
h3 {
	font-size: var(--font-size-title-med);
	line-height: var(--line-height-xl);
}
h4 {
	font-size: var(--font-size-title-sm);
}
h5 {
	font-size: var(--font-size-title-xs);
}

p {
	font-weight: var(--font-weight-reg);
	line-height: var(--line-height-med);
}
/* Links */
a {
	color: var(--color-white);
	text-decoration: none;
	border-bottom: var(--border-width-link) solid transparent;
}

a:hover,
a:focus,
.land-ack-btn:hover,
.land-ack-btn:focus {
	border-bottom-color: var(--color-white);
}

/* img links (logo, socials) */
.img-link {
	border-bottom: none;
}
.img-link:hover,
.img-link:focus {
	border-bottom-color: transparent;
}

/* Lists */
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* 
===================================
Utility Classes ( flexbox, wrappers,  etc.)
===================================
*/

/* sr only custom class  */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* custom disable scroll class: for modal functionality */
.disable-scroll {
	overflow: hidden;
}
/* hidden */
.hidden {
	display: none;
	visibility: hidden;
}

/* modal scroll class */

/* Global Wrapper */
.wrapper {
	width: var(--wrapper-width);
	max-width: var(--wrapper-width-max);
	margin: 0 auto;
}

.section-header {
	padding: var(--spacing-lg);
	text-align: center;
	gap: var(--spacing-lg);
}

.gradient-header {
	background-image: var(--grad-blue-purple);
}

.gradient-header h2 {
	color: var(--text-color-light);
}

.section-header h2 {
	font-weight: var(--font-weight-bold);
}

/* 
===================================
Global Component Styles (buttons, forms, etc.)
===================================
*/
/* Section */

section {
	padding: var(--spacing-xxl) 0;
}

/* HR and Blockquote */
hr {
	border-color: var(--color-white);
}

blockquote {
	background-color: var(--color-onyx);
	color: var(--color-white);
	width: fit-content;
	padding: var(--spacing-lg);
	margin: 0;
	border-radius: var(--border-radius);
}

blockquote p {
	position: relative;
}
blockquote p::before {
	content: url("../assets/icons/global/blockquote-start.svg");
	position: absolute;
	left: -60px;
	top: -40px;
}
blockquote p::after {
	content: url("../assets/icons/global/blockquote-end.svg");
	position: absolute;
	right: -60px;
	bottom: -30px;
}

/* Buttons */
/* main red button style */
button,
.btn-main,
.btn-alt {
	display: block;
	width: fit-content;
	min-height: 50px;
	padding: 10px 40px;
	font-family: var(--font-main);
	font-weight: var(--font-weight-bold);
	color: var(--color-white);
	background-color: var(--color-amaranth);
	border: var(--border-width-btn) solid transparent;
	border-radius: var(--border-radius);
	cursor: pointer;
}

button:hover,
button:focus,
.btn-main:hover,
.btn-main:focus {
	color: var(--color-onyx);
	background-color: var(--color-white);
}

/* long button */
.btn-long {
	padding: 10px var(--spacing-lg);
}

.btn-main,
.btn-alt {
	height: fit-content;
	margin: 0;
}
/* white alternate button */
.btn-alt {
	border-color: var(--color-white);
	background-color: transparent;
}

.btn-alt:hover,
.btn-alt:focus {
	background-color: var(--color-white);
	color: var(--color-onyx);
}

/* Forms */

/* General styles */
input[type="text"],
input[type="email"],
textarea {
	border: 1px solid #6c6c6c;
	border-radius: var(--border-radius);
	padding: var(--spacing-xs) var(--spacing-sm);
	font-family: var(--font-main);
}

/* text area */
textarea {
	width: 100%;
	resize: vertical;
}

/* custom input/label class: side  */
.input-label-container {
	display: flex;
	gap: var(--spacing-sm);
}

/* Modal Content */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.406);
}

.modal-content {
	border-radius: var(--border-radius);
	background-color: var(--color-white);

	padding: var(--spacing-lg);
	margin: 0 auto;
	width: 80%;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	max-width: 1100px;
	max-height: 90vh;
}

.modal-btn-container {
	display: flex;
	justify-content: flex-end;
}
.modal-text-container,
.modal-scroll-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.modal-scroll-container {
	max-height: calc(85vh - 300px);
	overflow-y: scroll;
}

.modal-text-container h4 {
	font-size: var(--font-size-title-lg);
	text-align: center;
}

.close-modal {
	background-color: transparent;
	border: transparent;
	padding: 0;
}
.close-modal svg {
	fill: var(--color-onyx);
}
.close-modal svg:hover {
	fill: var(--color-amaranth);
}
/* 
===================================
Custom Components 
===================================
*/
/* section-2-col  */
.section-2-col .wrapper {
	display: flex;
	gap: var(--spacing-xl);
	padding: var(--spacing-xl);

	width: var(--wrapper-width);
	max-width: var(--wrapper-max-width);
	margin: 0 auto;
}

/* styled image container layout  */
.section-2-col .styled-img-container,
.section-2-col .text-container {
	width: 50%;
}

.section-2-col .text-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

/* styled img container styles */

.styled-img-container {
	position: relative;
}

.styled-img-container img {
	border-radius: var(--border-radius);
	max-height: 550px;
	object-fit: cover;
	object-position: top;
	aspect-ratio: 1/1;
}

.styled-img-container::before {
	position: absolute;
	content: " ";
	width: 80%;
	aspect-ratio: 1/1;
	z-index: -1;
	background-color: var(--color-amaranth);
	border-radius: var(--border-radius);
}

.styled-img-container.style-left::before {
	transform: translate(-70px, -65px);
}

.styled-img-container.style-right::before {
	transform: translate(200px, -65px);
}

/* 
===================================
Global Nav Styles
===================================
*/

header nav,
footer {
	background-color: var(--color-onyx);
}
header nav {
	min-height: 85px;
	padding: var(--spacing-sm) 0;
}

header nav .flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 65px;
}

.nav-links {
	display: flex;
	gap: var(--spacing-med);
}

.nav-links li:last-child {
	display: none;
}

/* Mobile Menu button */
.mobile-menu {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	padding: 0;
	display: none; /* hidden until mobile media query */
}

.mobile-menu:hover,
.mobile-menu:focus-within {
	background-color: transparent;
}

/* Mobile menu icons */
.mobile-menu svg {
	fill: var(--color-white);
}

/* 
===================================
Global Header Styles
===================================
*/

header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Hero Image Component */
.hero {
	flex-grow: 1;
	height: inherit;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 140px 0;
	color: var(--color-white);
}

/* custom max width for hero content */
.hero .wrapper {
	max-width: var(--wrapper-width-max-sm);
}

/* Hero heading layout and sizing */
.hero-text-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	padding: var(--spacing-med) 0;
}

.img-mobile {
	display: none;
	visibility: hidden;
}
/* 
===================================
Global Footer Styles
===================================
*/

/* Footer Layout: column container */
.column-container {
	padding: var(--spacing-med) 0;

	display: flex;
	justify-content: space-between;
	gap: var(--spacing-sm);
	flex-wrap: wrap;
}

/* Company Column */
.column-container .company,
footer nav ul {
	display: flex;
	flex-direction: column;
}
footer a {
	font-size: var(--font-size-body-reg);
}
.column-container .company {
	gap: 40px;
}

/* land acknowledgement button */
.land-ack-btn {
	background-color: transparent;
	color: var(--color-white);

	border: none;
	border-bottom: var(--border-width-link) transparent;
	font-weight: var(--font-weight-reg);
	border-radius: 0;
	padding: 0;
	line-height: normal;
	width: fit-content;
}

.land-ack-btn:hover,
.land-ack-btn:focus-within {
	background-color: transparent;
	color: var(--color-white);
}
/* Footer Navigation */
footer nav ul {
	gap: var(--spacing-sm);
}

/* Footer layout: policy and socials */
.policy-container {
	display: flex;
	justify-content: space-between;
	padding-bottom: var(--spacing-sm);
}

footer .policy {
	padding-top: 5px;
}

footer .social {
	display: flex;
	gap: var(--spacing-sm);
}

footer .social svg {
	fill: var(--color-white);
}
/* newsletter form  */
.newsletter-form {
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

/* text adjustments  */
.newsletter-form p {
	width: 60%;
}
/* email input adjustment */
.newsletter-form input[type="email"] {
	width: 100%;
}

/* 
===================================
Media Queries (overriding styles for different screen sizes)
===================================
*/

/* custom breakpoint for top navigation 1360px*/
@media screen and (max-width: 1360px) {
	/* header nav adjustments */
	.nav-links {
		gap: var(--spacing-sm);
	}

	.nav-links li {
		font-size: var(--font-size-body-reg);
	}
}

/* custom mq for mobile menu */
@media screen and (max-width: 1240px) {
	/* 
	===================================
	Mobile Menu
	===================================
	*/
	.mobile-menu-container {
		position: relative;
	}

	/* REVEAL: mobile menu button */
	.mobile-menu,
	.mobile-support-btn {
		display: block;
		visibility: visible;
	}

	/* HIDE: desktop support button */
	.desktop-support-btn {
		display: none;
	}

	/* Changing nav links style */
	.nav-links {
		background-color: var(--color-onyx);
		padding: var(--spacing-med);

		flex-direction: column;
		gap: var(--spacing-sm);

		position: absolute;
		top: 70px;
		right: -10px;
		width: 185px;

		display: none;
	}

	/* open menu class toggled via js  */
	.open-menu {
		display: flex;
	}
}

/* Tablet and smaller 1024px*/
@media (max-width: 1024px) {
	/* 
	===================================
	Styled Img Container Components
	===================================
	*/

	/* removing wrapper styles for mobile design */
	.section-2-col .wrapper {
		flex-direction: column;
		gap: var(--spacing-lg);
		padding: 0;
		width: 100%;
	}

	.section-2-col .styled-img-container,
	.section-2-col .text-container {
		width: 100%;
	}

	/* removing absolute positioned graphic */
	.styled-img-container::before {
		position: static;
	}

	.styled-img-container {
		background-color: var(--color-amaranth);
		padding: var(--spacing-med) 0;
	}

	/* limiting img height */
	.styled-img-container img {
		max-height: 300px;
	}

	/* mobile wrapper */
	.styled-img-container img,
	.section-2-col .text-container {
		width: var(--wrapper-width);
		margin: 0 auto;
	}

	/* 
	===================================
	Global Section Adjustment
	===================================
	*/
	section {
		padding: var(--spacing-med) 0;
	}

	.section-header {
		padding: var(--spacing-med) 0;
	}

	.events-container {
		padding: 0;
		gap: var(--spacing-lg);
	}
}

/* Tablet and smaller 768px */
@media screen and (max-width: 768px) {
	/* 
	===================================
	Mobile Menu
	===================================
	*/
	header nav .flex-container {
		width: inherit;
	}
	h2,
	h3 {
		font-size: var(--font-size-title-sm);
		line-height: var(--line-height-lg);
	}

	.wrapper {
		width: 100%;
		max-width: 100%;
		padding: 0 var(--spacing-sm);
	}

	/* 
===================================
Hero 
===================================
*/

	.hero-wrapper {
		display: flex;
		align-items: center;
		flex: 1 1 50%;
	}

	.hero-text-container {
		width: 100%;
		text-align: center;
	}

	body .hero {
		/* layout for <img> and wrapper */
		display: flex;
		align-items: center;
		flex-direction: column;
		color: var(--color-onyx);
		padding-top: 0;
		gap: 0;
		background: none;
		padding: 0;
	}

	/* revealing mobile hero img */
	.img-mobile {
		display: block;
		visibility: visible;
	}

	/* 
	===================================
	Modal Adjustment
	===================================
	*/
	.modal-content {
		width: 90%;
		padding: var(--spacing-sm);
	}
}

/* Mobile Breakpoint 470px */
@media screen and (max-width: 470px) {
	/* 
	===================================
	Mobile Text
	===================================
	*/

	.hero h1 {
		font-size: var(--font-size-title-med);
	}
	body {
		font-size: var(--font-size-body-reg);
	}

	p {
		line-height: 20px;
	}
	/* 
	===================================
	Footer
	===================================
	*/

	.column-container {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: var(--spacing-med);
	}

	footer .company,
	footer nav ul {
		align-items: center;
	}
	/* newsletter form */
	.newsletter-form {
		text-align: center;
	}

	.newsletter-form p {
		width: 100%;
	}

	.newsletter-form .input-label-container {
		flex-direction: column;
		align-items: center;
	}

	.newsletter-form input[type="email"] {
		width: 100%;
	}

	/* 
	===================================
	Modal 
	===================================
	*/

	.modal-text-container h4 {
		font-size: var(--font-size-title-sm);
	}
}
