/*
===================================
===================================
Global styles

- The is the file for CSS that applies to the entire site.
- Variables, resets, global styles, etc. should be added here.
- This file should be linked to every page on the site.
- We can also add global component styles here (buttons, forms, etc.)
===================================
===================================
*/

/* 
===================================
Resets (box-sizing, normalize, etc.) 
===================================
*/

/* box-sizing */
* {
	box-sizing: border-box;
}
/* 
minified css normalize from Nicolas Gallagher: 
https://github.com/necolas/normalize.css
*/
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
figcaption,
figure,
main {
	display: block;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
dfn {
	font-style: italic;
}
mark {
	background-color: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
audio,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details,
menu {
	display: block;
}
summary {
	display: list-item;
}
canvas {
	display: inline-block;
}
template {
	display: none;
}
[hidden] {
	display: none;
}

/* 
===================================
Variables (colors, text, spacing, etc.)
===================================
*/

:root {
	/* Color Definitions */
	--color-white: #fff;
	--color-amaranth: #b91515;
	--color-teal: #007a80;
	--color-grape: #6c4681;
	--color-onyx: #1f1d1d;
	--color-blue: #184f85;
	--color-pink: #fa6cb7;
	--color-citrine: #d3c53f;
	--color-citron: #92a32d;
	--color-copper: #b37122;

	/* Color Assignment */
	--body-background-color: var(--color-white);

	/* Text */
	/* Font */
	--font-main: "Josefin Sans", sans-serif;
	/* Sizing */
	/* heading elements */
	--font-size-title-xl: 5.6rem; /* Title Large - 56px */
	--font-size-title-lg: 4.6rem; /* Title Regular - 46px */
	--font-size-title-med: 3.6rem; /* Title Medium - 36px */
	--font-size-title-sm: 2.8rem; /* Title Small - 28px */
	--font-size-title-xs: 2.4rem; /* Title Extra Small - 24px */
	/* body text */
	--font-size-body-lg: 2.1rem; /* Body Large - 21px */
	--font-size-body-reg: 1.6rem; /* Body Regular - 16px */

	/* Text Weight */
	--font-weight-bold: 700;
	--font-weight-med: 500;
	--font-weight-reg: 400;

	/* Spacing */
	--spacing-xl: 100px;
	--spacing-lg: 80px;
	--spacing-med: 40px;
	--spacing-sm: 20px;

	/* Wrappers */
	--wrapper-width: 85%;
	--wrapper-max-width: 1328px;

	/* Media Queries */
}

/* 
===================================
Global Styles (html, body, text, links, etc.)
===================================
*/

html {
	font-size: 62.5%; /* 1 rem === 10px */
	font-family: var(--font-main);
}

body {
	background-color: var(--body-background-color);
	font-size: var(--font-size-body-reg);
}

/* Images */
img {
	max-width: 100%;
}

/* Text */
h1,
h2,
h3 {
	font-weight: var(--font-weight-bold);
}
h4,
h5 {
	font-weight: var(--font-weight-med);
}

h1 {
	font-size: var(--font-size-title-xl);
}
h2 {
	font-size: var(--font-size-title-lg);
}
h3 {
	font-size: var(--font-size-title-med);
}
h4 {
	font-size: var(--font-size-title-sm);
}
h5 {
	font-size: var(--font-size-title-xs);
}

p {
}
/* Links */
a {
	color: var(--color-white);
	text-decoration: none;
	border-bottom: 2px solid transparent;
	margin: var(--spacing-sm);
}

a:hover,
a:focus,
.land-ack-btn:hover,
.land-ack-btn:focus {
	border-bottom-color: var(--color-white);
}

.img-link {
	margin: 0;
	border-bottom: none;
}
.img-link:hover,
.img-link:focus {
	border-bottom-color: transparent;
}

.land-ack-btn {
	background-color: transparent;
	color: var(--color-white);

	border: none;
	border-bottom: 2px solid transparent;
	font-size: var(--font-size-body-reg);
	font-weight: var(--font-weight-reg);
	border-radius: 0;
	padding: 0;
	line-height: normal;
	width: fit-content;
}

.land-ack-btn:hover,
.land-ack-btn:focus-within {
	background-color: transparent;
	color: var(--color-white);
}
/* Lists */
ul {
	padding: 0;
	list-style: none;
}

/* Forms */

/* 
===================================
Utility Classes ( flexbox, wrappers,  etc.)
===================================
*/

/* sr only class  */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Wrappers */
.wrapper {
	margin: 0 auto;
	width: var(--wrapper-width);
	max-width: var(--wrapper-max-width);
}

/* 
===================================
Global Component Styles (buttons, forms, etc.)
===================================
*/
/* HR and Blockquote */
hr {
	border-color: var(--color-white);
}

blockquote {
}

/* Buttons */
/* main red button style */
button,
.btn-main {
	color: var(--color-white);
	font-size: var(--font-size-body-lg);
	font-weight: var(--font-weight-bold);
	background-color: var(--color-amaranth);
	border: 5px solid transparent;
	border-radius: 10px;
	padding: 10px 40px;
	cursor: pointer;
}

button:hover,
button:focus,
.btn-main:hover,
.btn-main:focus {
	color: var(--color-onyx);
	background-color: var(--color-white);
}

.btn-main,
.btn-alt {
	height: fit-content;
	margin: 0;
}
/* white alternate button */
.btn-alt {
	border-color: var(--color-white);
	background-color: transparent;
}

.btn-alt:hover,
.btn-alt:focus {
	background-color: var(--color-white);
	color: var(--color-onyx);
}

/* Forms */

/* 
===================================
Global Header Styles
===================================
*/

/* 
===================================
Global Nav Styles
===================================
*/

header nav,
footer {
	background-color: var(--color-onyx);
}
header nav {
	min-height: 85px;
}
header nav .wrapper {
	width: inherit;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 65px;
}

header nav ul {
	display: flex;
}

/* 
===================================
Global Footer Styles
===================================
*/

/* Footer Layout: column container */
.column-container {
	display: flex;
	justify-content: space-between;
}

/* Company Column */
.column-container .company,
footer nav ul {
	display: flex;
	flex-direction: column;
}

.column-container .company {
	gap: 40px;
}

/* Footer Navigation */
footer nav ul {
	gap: var(--spacing-sm);
}
/* Footer layout: policy and socials */
.policy-container {
	display: flex;
	justify-content: space-between;
}

footer .policy,
footer .social {
	display: flex;
	gap: var(--spacing-sm);
}

footer .social svg {
	fill: var(--color-white);
}

/* 
===================================
Media Queries (overriding styles for different screen sizes)

Note: Here we are using a mobile-first approach, so we start with the smallest screen size and work our way up.
Start by writing styles for the mobile version of the design on the lines above.
Anything that needs to change for larger screens should be added to the media queries below.

Feel free to change the min/max-width values to whatever you need. Use variables.
===================================
*/

/* Tablet Only */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* Add styles that only apply to tablet. These are usually fixes to get resposniveness right */
}

/* Tablet and Larger */
@media screen and (min-width: 768px) {
	/* Add styles that apply to table and desktop */
}

/* Desktop Only */
@media screen and (min-width: 1024px) {
	/* Add styles that apply specifically to desktop */
}
