/* 
===================================
Hero 
===================================
*/
/* background and layout adjustments  */
.hero {
	background-image: url("https://placedog.net/800/640?id=7");
	text-align: center;
	display: flex;
}

.hero .wrapper {
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: var(--spacing-sm);
}
/* text adjustments */
.hero h2 {
	font-size: var(--font-size-title-xl);
}

.hero p {
	font-size: var(--font-size-body-lg);
}

/* hero button container */

.hero-btn-container {
	display: flex;
	justify-content: center;
	gap: var(--spacing-med);
}

/* 
===================================
Community Partnerships 
===================================
*/

/* Community Card */

/* flex layout */
.community-card {
	display: flex;
	flex-direction: row-reverse;
}

/* flex children */
.community-card .img-container,
.community-card .text-container {
	width: 50%;
}

/* text container */
.community-card .text-container {
	/* layout */
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	/* styling */
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	padding: var(--spacing-lg);
	background-color: var(--color-amaranth);
	color: var(--color-white);
}

.community-card p {
	font-size: var(--font-size-body-lg);
	line-height: var(--line-height-lg);
	margin: var(--spacing-sm) 0;
}

.community-card img {
	height: 100%;
	object-fit: cover;

	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.community-card a {
	text-decoration: none;
}

.community-card a:hover,
.community-card a:focus {
	background-color: var(--color-white);
}

/* 
===================================
Global Eco System
===================================
*/

/* text styles: to be added over to global */

.global-ecosystem h3,
.global-ecosystem p {
	color: var(--text-color-light);
}
.global-ecosystem p {
	font-size: var(--font-size-body-lg);
	color: var(--text-color-light);
}

/* background img */

.global-ecosystem {
}

/* overlapping grid layout */
.global-ecosystem .content-container {
}

/* Text and blockquote styles */
.global-ecosystem .text-container {
	background-color: var(--color-grape);
	padding: var(--spacing-lg) 100px;
	border-radius: var(--border-radius);
}

/* 
===================================
What We Do
===================================
*/

/* text adjustments */
.what-we-do h3 {
	text-align: center;
	margin-bottom: var(--spacing-lg);
}

.wwd-card h4,
.wwd-card p {
	color: var(--text-color-light);
}
.wwd-card h4 {
	font-size: var(--font-size-title-med);
}
.wwd-card p {
	font-size: var(--font-size-body-lg);
}

/* card layout */
.wwd-card-list {
	display: flex;
	justify-content: space-between;
	gap: var(--spacing-med);
}

/* card styling */
.wwd-card {
	width: calc(33% - var(--spacing-med));
}

.wwd-card-img img {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	object-fit: cover;
	height: 200px;
}

.wwd-card-text {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	padding: var(--spacing-med) var(--spacing-sm);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	min-height: 330px;
}

/* individual card styling */
.wwd-digital {
	background-color: var(--color-teal);
}
.wwd-community {
	background-color: var(--color-copper);
}
.wwd-programs {
	background-color: var(--color-blue);
}

/* 
===================================
Our Values
===================================
*/

/* text adjustments */

.value-card h4 {
	font-size: var(--font-size-title-med);
}

.our-values p {
	font-size: var(--font-size-body-lg);
}

/* section styles */
.our-values {
	color: var(--text-color-light);
	/* temporary, will update to img */
	background-color: var(--color-onyx);
}
/* title and card layout */
.our-values .wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-med);
}
/* title layout */
.values-title-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}
/* values list layout */
.values-list {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-blue);

	border-radius: var(--border-radius);
	padding: var(--spacing-lg);
	gap: var(--spacing-lg);
}
.value-card {
	width: calc(33% - var(--spacing-lg));
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

/* 
===================================
Upcoming Events and Programs
===================================
*/

/* event list layout */
.event-list {
	display: flex;
}

/* Event Card Style */
.event-card {
	max-width: 335px;

	display: flex;
	flex-direction: column;
	gap: 20px;
}

.event-card img {
	border-radius: var(--border-radius);
	min-height: 430px;
	object-fit: cover;
}

.event-card-text {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
/* 
===================================
Media Queries (overriding styles for different screen sizes)

Note: Here we are using a mobile-first approach, so we start with the smallest screen size and work our way up.
Start by writing styles for the mobile version of the design on the lines above.
Anything that needs to change for larger screens should be added to the media queries below.

Feel free to change the min/max-width values to whatever you need. Use variables.
===================================
*/

/* Tablet and smaller 1024px*/
@media (max-width: var(--mq-width-desktop-max)) {
}

/* Tablet and smaller 768px */
@media screen and (max-width: var(--mq-width-tablet-max)) {
}

/* Mobile Only 400px */
@media screen and (max-width: var(--mq-width-phone-max)) {
}
